{% extends 'index.html' %}

{% block body %}
    <h2>List of all Favourite Games</h2>
    <ul>
        {% for name, game in games.items() %}
            <li>{{ name }}:
            {% for key, value in game.items() %}
                {% if key == 'img' %}
                    <image src="{{file_location}}/{{value}}"></image>
                {% else %}
                    <span>{{key}} : {{value}}</span>
                {% endif %}

             {% endfor %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}